a,
a:hover {
  text-decoration: none;
}

.butn:link,
.butn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--emphasis-color);
  background-image: linear-gradient(
    90deg,
    var(--emphasis-color),
    var(--emphasis-color-light)
  );
  padding: 1rem 2.5rem;
  gap: 16px;
  background-color: var(--emphasis-color);
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  margin-top: 16px;
  border: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}
.butn::before {
  background: #fff;
  content: "";
  height: 155px;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 50px;
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}
.butn::after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}
.butn__new::before {
  left: -50%;
}

.butn__new::after {
  left: -100%;
}

.butn:hover,
.butn:active {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.butn__new:hover::before {
  left: 120%;
  opacity: 0.5s;
}

.butn__new:hover::after {
  left: 200%;
  opacity: 0.6;
}
.butn span {
  z-index: 20;
}
