@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --text-color: #000;
  --emphasis-text-color: #f81121;
  --emphasis-color: #f81121;
  --emphasis-color-light: #f06d76;
  --secondary-background: #d3d3d3;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 1297px) {
  section {
    padding-right: 15rem;
    padding-left: 15rem;
  }
}

@media screen and (max-width: 1297px) {
  section {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

@media screen and (max-width: 900px) {
  section {
    padding-right: 16px;
    padding-left: 16px;
  }
}

body {
  display: grid;
  place-items: center;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: "Source Sans 3", sans-serif;
  vertical-align: baseline;
}
.section-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
}
