header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--secondary-background);
    padding: 1em;
}

header img{
    margin-top: 0.5em;
}