#reports {
  background-color: #f6f6f6;
}

#reports div article {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

@media screen and (max-width: 480px) {
  #reports div article {
    flex-direction: column;
  }
  #reports div article.invert {
    flex-direction: column !important;
  }
}

#reports div article.invert {
  flex-direction: row-reverse;
}

#reports div article img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.dog-image-wrapper {
  display: flex;
  border-radius: 8px;
  background-color: #fff;
  flex-direction: column;
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.29);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 350px;
  width: 350px;
  min-width: 350px;
  padding: 8px;
}

.dog-info {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  height: 30px;
  text-wrap: nowrap;
  padding-bottom: 16px;
  background-color: #fff;
  bottom: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dog-info p {
  margin-left: 16px;
}

.dog-info span {
  font-size: 12px;
  color: #ccc;
  margin-left: 16px;
}

.dog-testimony {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.dog-testimony p {
  font-size: 20px;
  max-width: 50%;
  font-style: italic;
  color: #333333;
}

@media screen and (max-width: 1297px) {
  .dog-testimony p {
    max-width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .dog-testimony p {
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .dog-image-wrapper {
    min-width: 0px;
    width: 100%;
  }
}
