#social-media h1{
    text-align: center;
    margin: 1.5em;
}

#social-media ul{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;

    list-style: none;
}

#social-media ul li img{
    width: 11em;
}

#social-media ul li p{
    text-align: center;
}